header {
  text-align: center;
  background-image: url("./font.jpg");
  color: #7d7d7d;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}
p {
  text-align: justify;
}
h2 {
  text-align: center;
}
footer {
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

}

.sous-container {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}






@media screen and (max-width =768px) {
  .container{
    display:grid;  
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(2fr);
    gap: 10px;
    }
  }

